[Unit]
Description=Gunicorn for Chhaya

[Service]
User=jayesh
Type=simple
WorkingDirectory=/var/lib/jenkins/workspace/tracemapr_master
ExecStart=/var/lib/jenkins/workspace/tracemapr_master/venv/bin/gunicorn New_Backend.wsgi:application -b 0.0.0.0:9999
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
